
.ge-table {
    --text-color: #000;
    --even-row-bg : oklch(1 0 0);
    --odd-row-mix-color: oklch(0.627 0 90);
    --selected-odd-row-mix-color: #000;
    --odd-row-l-factor: 0.95;
    --border-l-factor: 0.85;

    --header-border-color: color-mix(in oklch, var(--text-color) 50%, var(--even-row-bg) 50%);
    --header-horizontal-row-border-color: color-mix(in oklch, var(--even-row-bg) 80%, var(--odd-row-mix-color) 30%);
    --cell-selected-bg: #004e9ee0;
    --cell-selected-border: #506b9e;
    --cell-selected-text-color: #fff;

    --dark-green: #14686e;
    --red: #f93b18;
    --ocean-blue: #2071b5;
    --solar-yellow: #ffda00;
    --green: #3dc07c;
    --dark-blue: #1e324f;
    --pink: #d1266b;
    --purple: #9b62c3;
    --wind: #4fcc51;
    --hydro: #2da55d;
}

.ge-table {
    thead tr th {
        border-top-color: var(--header-horizontal-row-border-color);
        border-bottom-color: var(--header-horizontal-row-border-color);
        background-color: var(--even-row-bg);
    }

    thead tr:last-child th {
        border-bottom-color: var(--header-border-color);
    }

    tbody tr td {
        --td-bg: var(--even-row-bg);
        --td-color: var(--text-color);
        --td-cell-selected-text-color: var(--cell-selected-text-color);
        --td-cell-selected-bg: color-mix(in oklch, var(--td-bg) 4%, var(--cell-selected-bg) 80%);

        &.bg-dark-green {
            --td-bg: var(--dark-green);
            --td-color: #fff;
        }

        &.bg-red {
            --td-bg: var(--red);
            --td-color: #fff;
        }

        &.bg-ocean-blue {
            --td-bg: var(--ocean-blue);
            --td-color: #fff;
        }

        &.bg-solar-yellow {
            --td-bg: var(--solar-yellow);
        }

        &.bg-green {
            --td-bg: var(--green);
            --td-color: #fff;
        }

        &.bg-dark-blue {
            --td-bg: var(--dark-blue);
            --td-color: #fff;
        }

        &.bg-pink {
            --td-bg: var(--pink);
            --td-color: #fff;
        }

        &.bg-purple {
            --td-bg: var(--purple);
            --td-color: #fff;
        }

        &.bg-wind {
            --td-bg: var(--wind);
        }

        &.bg-hydro {
            --td-bg: var(--hydro);
            --td-color: #fff;
        }
    }

    tbody {
        tr,
        tr.odd-row {
            td {
                background-color: oklch(from var(--td-bg) calc(l * var(--odd-row-l-factor)) c h);
                color: var(--td-color);
                border-bottom-color: oklch(from var(--td-bg) calc(l * var(--border-l-factor)) c h);

                &.pastel {
                    background-color: color-mix(in srgb, var(--td-bg) 40%, white);
                    border-bottom-color: color-mix(in srgb, var(--td-bg) 50%, white);
                    color: #000;
                }

                &.cell-selected {
                    --selected-bg: color-mix(in oklch, var(--td-cell-selected-bg) 100%, var(--selected-odd-row-mix-color) 5%);
                    background-color: var(--selected-bg);
                    color: var(--td-cell-selected-text-color);
                    border-bottom-color: var(--cell-selected-border);
                }
            }
        }

        tr.even-row {
            td {
                background-color: var(--td-bg);

                &.pastel {
                    background-color: color-mix(in srgb, var(--td-bg) 35%, white);
                    border-bottom-color: color-mix(in srgb, var(--td-bg) 50%, white);
                    color: #000;
                }

                &.cell-selected {
                    --selected-bg: var(--td-cell-selected-bg);
                    background-color: var(--selected-bg);
                    border-bottom-color: var(--cell-selected-border);
                }
            }
        }
    }
}
